<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>两栏布局</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <div class="layout-pager">
        <div class="layout-wrapper">
            <div class="layout-left">
                <div class="menu"></div>
            </div>
            <div class="layout-content">
                <div class="container"></div>
            </div>
        </div>
    </div>
</body>
</html>
