<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>前端学习总结</title>
    <script src="./knockout-3.4.2.js"></script>
    <script>
            window.onload = function() {
                var myViewModel = {
                    list: [{
                        title: '跨域', isActived: ko.observable(true),
                        text: [""]
                    }, {
                        title: '缓存', isActived: ko.observable(true),
                        text: [
                            "缓存存储策略：Cache-Control(Public、Private、no-cache、max-age 、no-store)",
                            "缓存过期策略：Expires",
                            "缓存对比策略：Last-Modified、ETags、If-Modified-Since、If-None-Match"
                        ]
                    }, {
                        title: 'http2.0', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: '原型继承', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: 'knockout, angular, react, vue异同点', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: 'knockout原理', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: 'angular原理', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: 'react原理', isActived: ko.observable(true),
                        text: [
                            '虚拟dom对象(Virtual DOM)',
                            '虚拟dom差异化算法（diff algorithm）',
                            '单向数据流渲染（Data Flow）',
                            '组件生命周期',
                            '事件处理'
                        ]
                    }, {
                        title: 'vue原理', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: '', isActived: ko.observable(true),
                        text: []
                    }, {
                        title: '', isActived: ko.observable(true),
                        text: []
                    }],
                    toggle: function(node) { // 节点展开与关闭
                        node.isActived(!node.isActived())
                    }
                }
                ko.applyBindings(myViewModel, document.getElementById('app'));
            }
    </script>
</head>
<body>
    <div id="app">
        <!--ko foreach: list-->
            <h4 data-bind="click: $root.toggle.bind($root, $data), text: title"></h4>
            <!--ko if: isActived-->
                <!--ko foreach: text-->
                    <p data-bind="text: $data"></p>
                <!--/ko-->
            <!--/ko-->
        <!--/ko-->
    </div>
</body>
</html>
