<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>flowplayer视频播放器</title>
    <link rel="stylesheet" href="./flowplayer-7.2.6/skin/skin.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="./flowplayer-7.2.6/flowplayer.js"></script>
    <script>
      flowplayer.conf.share = false;
      flowplayer.conf.loop = true;
    </script>
</head>
<body>
  <video preload="auto" loop autoplay src="https://www.w3cschool.cn/statics/demosource/movie.mp4">
    Your browser does not support the video tag.
  </video>
  <video preload="auto" loop autoplay src="demo.mp4" style="width:520px; height:330px">
    Your browser does not support the video tag.
  </video>
  <div class="flowplayer" data-swf="flowplayer-7.2.6/flowplayer.swf" loop="true" style="width:520px; height:330px">
    <video autoplay="true" loop="true" share="false">
      <source type="video/mp4" loop="true" share="false" src="demo2.mp4">
    </video>
  </div>
  <div class="flowplayer" data-swf="flowplayer-7.2.6/flowplayer.swf" loop="true" style="width:520px; height:330px">
    <video autoplay="true" loop="true" share="false">
      <source type="video/webm" loop="true" src="functional.webm">
    </video>
  </div>
</body>
</html>
