<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>浮动，向上对齐</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <div class="float-parent">
        <div class="float-child" style="height: 100px;background:red;"></div>
        <div class="float-child" style="height: 200px;background:blue;"></div>
        <div class="float-child" style="height: 10px;background:blue;"></div>
        <div class="float-child" style="height: 50px;background:red;"></div>
        <div class="break-line"></div>
        <div class="float-child" style="height: 10px;background:blue;"></div>
        <div class="float-child" style="height: 100px;background:red;"></div>
        <div class="float-child" style="height: 150px;background:blue;"></div>
        <div class="float-child" style="height: 55px;background:red;"></div>
        <div class="break-line"></div>
        <div class="float-child" style="height: 100px;background:red;"></div>
    </div>
</body>
</html>
